<a href="https://colab.research.google.com/github/asalunai/IoT-trabalho/blob/main/teste_ana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
# -*- coding: utf-8 -*-

import numpy as np
import pandas as pd
import requests

In [ ]:
def baixa(est, datai, dataf):

  # baixa os dados e converte em JSON:
  url = 'https://apitempo.inmet.gov.br/estacao/' + datai + '/' + dataf + '/' + est
  r = requests.get(url)
  info = r.json()
  # print(info[0])

  # transforma os dados em JSON em Dataframe:
  df = pd.DataFrame(info)
  colunas = ['DT_MEDICAO', 'HR_MEDICAO','TEM_MAX','TEM_MIN']
  df = df[colunas]

  # formata data:
  df['HR_MEDICAO'] = df['HR_MEDICAO'].astype(str).str.zfill(4)
  df['HR_MEDICAO'] = df['HR_MEDICAO'].str[:2]
  df['DT_MEDICAO'] = df['DT_MEDICAO'] + ' ' + df['HR_MEDICAO'] + ':00'
  df.drop('HR_MEDICAO', axis=1, inplace=True)

  # Define a data da medição como index:
  df.set_index('DT_MEDICAO', inplace=True)
  df.index = pd.to_datetime(df.index)

  # calcula a temperatura média:
  df = df.apply(pd.to_numeric, errors='coerce')
  df['TEM_MED'] = (df['TEM_MAX'] + df['TEM_MIN']) / 2
  df.drop(['TEM_MAX', 'TEM_MIN'], axis=1, inplace=True)

  # calcula máximas e mínimas diárias:
  df_med = df.resample('D').count()
  df_med.columns = ['Contagem']
  df_med['TP_MAX'] = df['TEM_MED'].resample('D').max()
  df_med['TP_MIN'] = df['TEM_MED'].resample('D').min()

  # se um dia apresentar menos do que 75% dos dados esperados, 
  # então considere esse dia como sendo não-representativo 
  # para o cálculo das máximas e mínimas diárias:
  #df_med.iloc[2,0] = 3 #teste
  df_med.loc[(df_med.Contagem < 24*0.75), ['TP_MAX', 'TP_MIN']] = np.nan

  df_med.to_csv('dados_diarios/'+est+'.csv')

  return df_med

In [28]:

# Formato da data: AAAA-MM-DD
datai = '2020-09-01'
dataf = '2020-09-10'
est_cod = ['A621', 'A618', 'A606', 'A609', 'A607']
nomes = ['Vila Militar', 'Teresópolis', 'Cabo Frio', 'Resende', 'Campos dos Goytacazes']

baixa(est_cod[0], datai, dataf)

            Contagem  TP_MAX  TP_MIN
DT_MEDICAO
2020-09-01        24   26.90   20.05
2020-09-02        24   27.80   21.15
2020-09-03         3     NaN     NaN
2020-09-04        24   36.25   18.35
2020-09-05        24   29.85   20.15

            Contagem  TP_MAX  TP_MIN
DT_MEDICAO
2020-09-01        24   26.90   20.05
2020-09-02        24   27.80   21.15
2020-09-03         3     NaN     NaN
2020-09-04        24   36.25   18.35
2020-09-05        24   29.85   20.15
2020-09-06        24   31.55   17.90
2020-09-07        24   29.00   19.90
2020-09-08        24   29.65   20.85
2020-09-09        24   29.25   19.30
2020-09-10        24   34.40   19.60